<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN 2.0//EN" "http://www.springframework.org/dtd/spring-beans-2.0.dtd">
 -->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:dwr="http://www.directwebremoting.org/schema/spring-dwr"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
       http://www.springframework.org/schema/beans/spring-beans-2.0.xsd 
       http://www.springframework.org/schema/aop 
       http://www.springframework.org/schema/aop/spring-aop-2.0.xsd 
       http://www.directwebremoting.org/schema/spring-dwr 
       http://www.directwebremoting.org/schema/spring-dwr-2.0.xsd"> 

    <aop:aspectj-autoproxy/>
    <bean name="circle" class="org.villaman.spring.model.Circle">
    	<property name="name" value="Circle name"/>
    </bean>
    <bean name="triangle" class="org.villaman.spring.model.Triangle">
    	<property name="name" value="Triangle name"/>
    </bean>
    <bean name="shapeService" class="org.villaman.spring.service.ShapeService" autowire="byName"/>
    <bean name="logginAspect" class="org.villaman.spring.aspect.LogginAspect"/>
</beans>